.radio {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  .item {
    margin-top: 0.2rem;
  }

  .error {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--color-error);
  }
}