@font-face {
  font-family: SB-Sans-Interface;
  font-weight: normal;
  src: url('../../shared/fonts/SB-Sans-Interface.woff') format('truetype'); /* замените Название_шрифта на реальное название шрифта и ttf на формат вашего файла */
}

@font-face {
  font-family: SB-Sans-Interface;
  font-weight: 600;
  src: url('../../shared/fonts/SB-Sans-Interface600.woff') format('truetype'); /* замените Название_шрифта на реальное название шрифта и ttf на формат вашего файла */
}


