@import "./vars";
@import "./fonts";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  font-family: SB-Sans-Interface, sans-serif;

  background-color: var(--background-color);
}

#root {
  width: 100%;
  max-width: 56rem;
  margin-top: 10%;
}
